// component styles are encapsulated and only applied to their components
* {

}

.wrapper {
	background-color: #fffcfa;
	padding: 4vw;
}

.params {
	display: flex;
	justify-content: space-between;
  margin-bottom: 5vw;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: left;

}

.title {
	color: #eb9e31;
	font-weight: bold;
	font-size: 6vw;
  letter-spacing: -0.085em;
  margin-bottom: 2vw;
}

.param {
  margin-bottom: 1vw;
  font-size: 3.5vw;
  line-height: 3.7vw;
  font-weight: 400;
  letter-spacing: -0.08em;
  color: #7b5928;
}

.button {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: #eb9e31;
	padding: 1vw 39vw;
  max-width: 83vw;
	color: #fffcfa;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2vw;
	cursor: pointer;
  transition: background-color 0.3s;
	&:hover {
    background-color: lighten(#eb9e31, 10%);
	}
}

